
h1 {
    font-family:"Raleway", sans-serif;
    font-size: 50px;
    padding-bottom: 0px;
    position:relative;
     margin-left:26%;padding:0px 0px;position:inherit
}

h2 {
    font-family: "Raleway", sans-serif;
   margin-left:25%;padding:5px 16px;position:fixed";
}

h3 {
    font-family: "Raleway", sans-serif;
    pointer-events: none;
     margin-left:25%;padding:5px 16px;position:fixed";
}

ul {
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    margin:0;
    padding:0;
    width: 25%;
    background-color: whitesmoke;
    position: fixed;
    height: 100%;
    overflow:auto;


}

li a {
    display: block;
    width:2-0px;
    color:whitesmoke;
    padding: 8px 16px;
    background-color: #22252C 
    
}

li a.active {
    background-color: #E14658;
        color:floralwhite
}

li a:hover:not(.active) {
    background-color:#3F3250;
    color:white
    
}

audio {
    margin-top: 70%;
    margin-left: 26%
}

p {
     margin-left:25%;padding:5px 16px;position:fixed";
}
