
h1 {
    font-family:"Raleway", sans-serif;
    font-size: 50px;
    padding-bottom: 0px;
    position:relative;
     margin-left:26%;padding:0px 0px;position:inherit;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size:25px;
   margin-left:25%;padding:5px 16px;position:fixed";
        /*I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (Changed around padding to get elements where I want them.)*/
}

h3 {
    font-family: "Raleway", sans-serif;
    pointer-events: none;
     margin-left:25%;padding:5px 16px;position:fixed";
         /*I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (Changed around padding to get elements where I want them.)*/
}

ul {
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    margin:0;
    padding:0;
    width: 25%;
    background-color: whitesmoke;
    position: fixed;
    height: 100%;
    overflow:auto;
/* I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (I changed around the colors to fit my theme, but otherwise dimensions are the same.) */

}

li a {
    display: block;
    width:2-0px;
    color:whitesmoke;
    padding: 8px 16px;
    background-color: #22252C 
         /*I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (Changed the colors and the padding.)*/
    
}

li a.active {
    background-color: #E14658;
        color:floralwhite
             /*I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (Changed colors)*/
}

li a:hover:not(.active) {
    background-color:#3F3250;
    color:white
     /*I pulled this code from http://www.w3schools.com/css/css_navbar.asp. (Changed colors)*/
}

audio {
    margin-top: 70%;
    margin-left: 26%
}

p {
    font-family: "Raleway", sans-serif;
     margin-left:25%;padding:5px 16px;position:fixed";
         
}
