.w3-container {
  
}

.w3-centered {
    
}



.intro {
    padding-top: 60px;
    font-family: Raleway;
    font-size: 35pt;
    padding-bottom: 50px
}









.w3-navbar {
    
}

.name {
    font-family: raleway;
    font-size: 75pt;
}

.alltop {
    margin-top:-215px;
    padding-top:120px
}


}

.listpad {
    margin-bottom: 20px
}

.abouttop {
    margin-top:-400px
}

.aboutme {
    font-family:Raleway;
    padding: 50px;
    margin-left: 50px

        
}

.typopara {
    font-family: raleway;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.goals {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.iconclick {
    font-family: raleway;
    font-size: 20px;
    padding-bottom: 10px
}
