.w3-container {
  
}

.w3-centered {
    
}



.intro {
    padding-top: 60px;
    font-family: Raleway;
    font-size: 35pt
    
}









.w3-navbar {
    
}

.name {
    font-family: raleway;
    font-size: 75pt;
}

.alltop {
    margin-top:-80px;
    padding-top:70px
}
